<h2>Categories (<%= @categories.length %>)</h2>

<ol>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category_products_path(category) do %>
        <%= category.title %>
        (<%= category.products_count %> products)
      <% end %>
    </li>
  <% end %>
</ol>
